---
title: Home
description: The latest app to help you find new friends with common interests.
image: images/home-bg.jpg
bottom_image: images/home-bottom.jpg
---

<section class="hero shadow-home" style="background-image: url({% include relative-src.html src=page.image %})">
    <div class="inner-hero text-container">
        <div class="hero-text-container">
            <h1 class="editable">Learn things by trying</h1>
            <p class="subtext editable">A collection of things I learn and try, simplified.</p>
            <div class="cta button alt"><a href="{{ site.baseurl }}/contact">Contact Me</a></div>
        </div>
    </div>
    <div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
    <section class="info" id="learn-more">
        <div class="container flex">
            <div class="text">
                <h2 class="editable">What I do?</h2>
                <p class="editable">I have a love of clean, elegant code. I like to automate things to improve
                    efficiency. I like to solve complex problems with simple solutions. Things I like...</p>
                <p>
                <div class="short-info">
                    <ul class="list-check">
                        <li>
                            Software Design
                        </li>
                        <li>
                            Clean Code
                        </li>
                        <li>
                            Solid Principle's
                        </li>
                        <li>
                            TDD
                        </li>
                        <li>
                            Scrum
                        </li>
                        <li>
                            Keep it simple
                        </li>
                    </ul>
                </div>
                </p>
            </div>
            <!--<div class="image">-->
                <!--<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot"/>-->
            <!--</div>-->
        </div>
    </section>

    <!--<section class="info" id="learn-skill">-->
        <!--<div class="container flex">-->
            <!--<div class="text">-->
                <!--<h2 class="editable">Skills</h2>-->
                <!--<p class="editable">I like to learn and explore new technologies, some of the areas that I have gained expertise over the period of time</p>-->
                <!--<p>-->
                <!--<div class="short-info">-->
                    <!--<ul class="list-check">-->
                        <!--<li>-->
                            <!--Software Design-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--Clean Code-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--Solid Principle's-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--TDD-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--Scrum-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--Keep it simple-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--</p>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="image">&ndash;&gt;-->
            <!--&lt;!&ndash;<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot"/>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    <!--</section>-->

    <!--<section class="info">-->
        <!--<div class="container flex">-->
            <!--<div class="text">-->
                <!--<h2 class="editable">Pick your interests</h2>-->
                <!--<p class="editable">The more you tell Frisco the better it gets to know you. Frisco matches you with-->
                    <!--people who share similar interests with you.</p>-->
            <!--</div>-->
            <!--<div class="image">-->
                <!--<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot"/>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->

    <!--<section class="info">-->
        <!--<div class="container flex">-->
            <!--<div class="text">-->
                <!--<h2 class="editable">Swipe and go</h2>-->
                <!--<p class="editable">Frisco shows you cards with people who might be a good match for friendship. Swipe-->
                    <!--left to move to the next card or right to start talking.</p>-->
            <!--</div>-->
            <!--<div class="image">-->
                <!--<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot"/>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->

    <section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
        <div class="inner-hero text-container">
            <div class="hero-text-container">
                <h2 class="editable">Lets learn something new today</h2>
                <p class="subtext editable">It's free, fun and an exciting journey.</p>
                <div class="cta button alt"><a href="{{ site.baseurl }}/blog">Read Now</a></div>
            </div>
        </div>
    </section>
</div>
