{% if site.environment != "prod" %}
<div style="width: 100%; height: 600px; background-color: lightblue">dev-sidebar</div>

{% endif %}

{% if site.environment == "prod" %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- sky-scrapper -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4166026699724584"
     data-ad-slot="5730852605"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endif %}