---
title: Random-JPA
description: Light weight utility to generate test data. Random-JPA takes care of the relationship between tables and creates a hierarchy for all the parent entities.
image: https://source.unsplash.com/weekly?water/1200x900?a=.png
pagination:
enabled: true
category: random-jpa
---

<section class="hero page-hero" style="background-image: url({% include relative-src.html src=page.image %})">
    <div class="inner-hero text-container">
        <div class="hero-text-container">
            <h1 class="editable"><a href="https://github.com/kuros/random-jpa">Random-JPA</a></h1>
            <p class="subtext editable">Light weight utility to generate test data. Random-JPA takes care of the relationship between tables and generated data for all parent entities.</p>
        </div>
    </div>
</section>

<section>
    <div class="text-container">
        <ul class="blog-posts">
            {% assign ordered_items = site.categories.random-jpa | sort: 'date'  %}
            {% include list-posts.html posts=ordered_items %}
        </ul>

        {% if paginator.total_pages > 1 %}
        <div class="pagination">
            {% if paginator.previous_page %}
            <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer posts</a>
            {% endif %}

            <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

            {% if paginator.next_page %}
            <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older posts &rarr;</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</section>