---
layout: default
---

<section class="hero page-hero random-images">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1>Category: <strong>{{ page.title }}</strong></h1>
			<p class="subtext">You're currently looking at all the posts categorised under <strong>{{ page.title }}</strong>.</p>
		</div>
	</div>
</section>

<section>
	<div class="text-container">
		<ul class="blog-posts">
			{% include list-posts-links.html posts=page.posts %}
		</ul>
	</div>
</section>
